<div class="container grey lighten-5 z-depth-4 hoverable">
    <div class="row">
        <div class="col s7">
            <div class="container">
                <div class="row">
                    <div class="col s12" style="padding-top:3em">
                        <img class="responsive-img" src="assets/img/LogoBlue.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <h5>Encuentra tu futuro trabajo 🚀</h5>
                        <h6 class="indigo-text text-darken-2"><b>De Desarrolladores para Desarrolladores 💻</b></h6>
                        <h5 style="padding-top:1em">Busca una vacante:</h5>
                        <app-select></app-select>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col s5">
            <img src="assets/img/wallHome.png" class="responsive-img">
        </div>
    </div>
</div>